h1{
    color:red;
    background: black;
    font-size: 40px;
    @include border-box();
    @include separador(pink);
    width: 200px;
    margin-left:auto;
    margin-right: auto;
    padding: 0 15px;
    @include my-text(70, 0.6)
}